{% extends "base.html" %}

{% block content %}
<h1 class="post-title">posts</h1>
<div class="post-content">
    {{ section.content | safe }}
</div>

{% if section.pages %}
<ul class="post-list">
    {% for p in section.pages %}
    <li class="post-item">
        <a href="{{ get_url(path=p.path) }}">
            <span class="post-item__date">{{ p.date | date(format="%Y-%m-%d") }}</span>
            :: <span class="post-item__title">{{ p.title }}</span>
        </a>
        {% if p.taxonomies.tags %}
        <span class="post-tags-inline">
            ::
            {% for t in p.taxonomies.tags %}<a class="post-tag" href="{{ get_url(path='/tags/' ~ t | slugify ~ '/') }}">{{ t }}</a>{% if not loop.last %},{% endif %}{% endfor %}
        </span>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% else %}
<p class="empty">nothing published yet</p>
{% endif %}
{% endblock content %}
